<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.terminalreach.groupbored">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/groupbored_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true" >
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity android:name="com.terminalreach.groupbored.SplashActivity"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.terminalreach.groupbored.LoginActivity"
            android:theme="@style/ActionBarAppTheme"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" >
        </activity>
        <activity android:name="com.terminalreach.groupbored.SignupActivity"
            android:theme="@style/ActionBarAppTheme"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" >
        </activity>
        <activity android:name="com.terminalreach.groupbored.MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.terminalreach.groupbored.NewPostActivity"
            android:theme="@style/ActionBarAppTheme"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" >
            <intent-filter>
                <action
                    android:name="android.intent.action.NEWPOST" />
            </intent-filter>
        </activity>
        <activity android:name="com.terminalreach.groupbored.NewCommentActivity"
            android:theme="@style/ActionBarAppTheme"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" >
            <intent-filter>
                <action
                    android:name="android.intent.action.NEWCOMMENT" />
            </intent-filter>
        </activity>
        <activity android:name="com.terminalreach.groupbored.FullscreenPostActivity"
            android:theme="@style/ActionBarAppTheme"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name="com.terminalreach.groupbored.FullscreenProfileActivity"
            android:theme="@style/ActionBarAppTheme"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" >
        </activity>
        <activity android:name="com.terminalreach.groupbored.ChangeBioActivity"
            android:theme="@style/ActionBarAppTheme"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" >
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/ActionBarAppTheme" />
    </application>

</manifest>